## MILESTONE 3
# **M3** // Multinational Retail Data Centralisation
##### Tasks 1
Change orders_table data_types to correct form displayed.

***
**date_uuid** from **TEXT** to **UUID**

`ALTER TABLE orders_table` <br><p style="padding: 0 30px">
    `ALTER COLUMN date_uuid 			TYPE uuid 		USING date_uuid::uuid,` <br>
    `ALTER COLUMN user_uuid 			TYPE uuid 		USING user_uuid::uuid,` <br>
	`ALTER COLUMN card_number 		    TYPE varchar 	USING card_number::varchar (16),` <br>
	`ALTER COLUMN store_code 		    TYPE varchar 	USING store_code::varchar (12),` <br>
	`ALTER COLUMN product_code 			TYPE varchar 	USING product_code::varchar (11),` <br>
	`ALTER COLUMN product_quantity 		TYPE smallint 	USING product_quantity::smallint;` <br>
</p>